<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet" >
<!-- additional CSS -->
<link rel="stylesheet" href="/css/main.css">

<title>
	{{- if .IsHome -}}
		{{- .Site.Title -}}{{ if .Site.Params.slogan }} - {{ .Site.Params.slogan }}{{ end }}
	{{- else -}}
		{{- .Title }} - {{ .Site.Title -}}
	{{- end -}}
</title>
